@import "tailwindcss";

body {
  background-color: #fdfdf9;
  font-family: "Google Sans", Arial, Helvetica, sans-serif;
}

@theme inline {
  --font-sans: "Google Sans", Arial, Helvetica, sans-serif;

  --font-black-slanted: var(--font-roboto-flex);
  --font-black-slanted--font-variation-settings:
    "wdth" var(--wdth, 100), "slnt" var(--slnt, -10), "opsz" var(--opsz, 144),
    "wght" var(--wght, 1000);

  --font-bold-slanted: var(--font-roboto-flex);
  --font-bold-slanted--font-variation-settings:
    "wdth" var(--wdth, 74), "slnt" var(--slnt, -10), "opsz" var(--opsz, 100),
    "wght" var(--wght, 600);
}
